/* =========================
      IMAGE CAROUSEL
========================= */

/* Main Image Embla Carousel */

.mainImageWrapper {
  --slide-size: 100%;
  --slide-spacing: 1rem;
  position: relative;
}

.mainImageSlide {
  aspect-ratio: 16 / 9;
}

/* Thumbnail Images Embla Carousel */

.thumbWrapper {
  --slide-spacing: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.625rem, 1fr));
  gap: var(--slide-spacing);
}

.thumbImageSlide {
  width: 100%;
  aspect-ratio: 16/ 9;
}

.selectedImage {
  border: 1px solid red;
}

/* =========================
      PROJECT GALLERY HEADER
========================= */

.carouselHeader {
  position: fixed;
  inset: 0 0 auto;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--frame-size);

  padding-inline: var(--spacing-page-gutter);

  background-color: transparent;

  pointer-events: auto;

  z-index: 100;
}

/* =========================
      PROJECT CAROUSEL
========================= */

.carouselHeader h1 {
  font-size: var(--text-2xl);
}

.projCarouselBtn {
  width: var(--spacing-frame);
  cursor: pointer;
  opacity: 0.3;

  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: auto;
}

.projCarouselBtn:hover {
  opacity: 1;
}
