/* =========================
      THEME VARIABLES
========================= */

:root {
  /* ===== Color Palette ===== */

  /* Neutral Palette */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Primary Palette */
  --color-primary: #ffe0cc;

  /* Secondary Palette */
  /* Functional Color Palette */
}
