/* =========================
      FONTS & TYPOGRAPHY
========================= */

@font-face {
  font-family: "EB Garamond";
  src: url("../assets/fonts/EBGaramond-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono";
  src: url("../assets/fonts/VictorMono-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* ===== Font Families ===== */
  --font-serif:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, Georgia,
    serif;
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  --font-display: "EB Garamond", var(--font-serif);
  --font-mono: "Victor Mono", monospace;
  --font-body: "Work Sans", var(--font-sans);

  /* ===== Typography Scale ===== */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem); /* 16-18px */
  --text-lg: clamp(1.125rem, 1.05rem + 0.2vw, 1.25rem); /* 18-20px */

  --text-xl: clamp(1.25rem, 1.16rem + 0.45vw, 1.5rem); /* 22-24px */
  --text-2xl: clamp(1.375rem, 1.2rem + 0.89vw, 1.75rem); /* 26-28px */
  --text-3xl: clamp(1.625rem, 1.36rem + 1.34vw, 2.25rem); /* 32-36px */

  --text-base-2xl: clamp(1rem, 0.554rem + 2.232vw, 1.75rem); /* 16-28px */

  --text-4xl: clamp(1.75rem, 1.125rem + 3.125vw, 3rem); /* 42-48px */
  --text-5xl: clamp(2.125rem, 1.32rem + 4.02vw, 3.75rem); /* 52–60px */
  --text-6xl: clamp(2.5rem, 1.43rem + 5.36vw, 5rem); /* 64-80px */

  --text-7xl: clamp(2.75rem, 0.875rem + 9.375vw, 6rem); /* 86-96px */
  --text-8xl: clamp(3.25rem, 1.29rem + 9.82vw, 7.5rem); /* 96–120px */
  --text-9xl: clamp(3.75rem, 1.07rem + 13.4vw, 9rem); /* 120–144px */
}

/* ===== Typography Styles ===== */

h1 {
  font-family: var(--font-display);
  font-size: var(--text-7xl);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: var(--font-display);
  font-size: var(--text-6xl);
  font-weight: 700;
}

h3 {
  font-family: var(--font-mono);
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.h1-sub {
  font-family: var(--font-mono);
  font-size: var(--text-base-2xl);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h4 {
  font-family: var(--font-display);
  font-size: var(--text-3xl);
  font-weight: 700;
  letter-spacing: 0.02em;
}

h5 {
  font-family: var(--font-mono);
  font-size: var(--text-lg);
  font-weight: 100;
  text-transform: uppercase;
}

h6 {
  font-family: inherit;
  font-size: var(--text-base);
  font-weight: inherit;
}

p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  max-width: 65ch;
}

.lead-text {
  font-family: var(--font-body);
  font-size: var(--text-xl);
}

.eyebrow-text {
  font-family: var(--font-mono);
  font-size: var(--text-lg);
  letter-spacing: 0.05em;
}

.subtext-serif {
  font-family: var(--font-display);
  font-size: var(--text-sm);
  letter-spacing: 0.02em;
}

.subtext-mono {
  font-family: var(--font-mono);
  font-size: var(--text-xs);
}
