/* =========================
      LIGHT THEME TOKENS
========================= */

:root,
[data-theme='light'] {
  --color-bg: var(--color-white);
  --color-text: var(--color-black);

  --scrollbar-thumb: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
}

/* =========================
      DARK THEME TOKENS
========================= */

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-bg: var(--color-black);
    --color-text: var(--color-white);
  }
}

[data-theme='dark'] {
  --color-bg: var(--color-black);
  --color-text: var(--color-white);
}
