@layer theme {
  /* =========================
      LIGHT THEME TOKENS
========================= */

  :root,
  [data-theme='light'] {
    color-scheme: light;

    --background: var(--color-white);
    --foreground: var(--color-black);

    --scrollbar-thumb: rgba(0, 0, 0, 0.3);
    --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
  }

  /* =========================
      DARK THEME TOKENS
========================= */

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
      color-scheme: dark;

      --background: var(--color-black);
      --foreground: var(--color-white);
    }
  }

  [data-theme='dark'] {
    color-scheme: dark;
    --background: var(--color-black);
    --foreground: var(--color-white);
  }
}

/* =========================
      TAILWIND THEME API: COLORS
========================= */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
