.mainNav li {
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.navGroup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid green;
}

.navLink,
.bracket {
  font-family: var(--font-mono);
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-black);

  transition: color 200ms ease;
}

.bracket {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.bracket.left {
  right: 108%;
}

.bracket.right {
  left: 108%;
}

.navGroup:hover {
  color: grey;
}

.navGroup:hover .bracket {
  opacity: 1;
  pointer-events: auto;
}
