.emblaWrapper {
  --slide-size: 100%;

  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}

.carouselViewport {
  /* embla: `overflow-x: clip` required */
  width: 100%;
  overflow-x: clip;
}

.carouselContainer {
  /* embla: `display: flex` and `touch-action: pan-y pinch-zoom` required */
  /* embla autoHeight plugin: `align-items: flex-start` required */
  display: flex;
  align-items: flex-start;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing, 0) * -1);
  transition: height 0.2s;
}

/* Slides */
.carouselContainer > * {
  /* embla: `flex: 0 0 100%` required */
  flex: 0 0 var(--slide-size, 100%);
  min-width: 0;
  padding-left: var(--slide-spacing, 0);
}

.carouselControls {
  position: absolute;
  top: var(--controls-top, 50%);
  inset-inline: var(--controls-inset, 0);
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}
