.emblaWrapper {
  --slide-size: 100%;
}

.carouselViewport {
  width: 100%;
  overflow-x: clip;
}

.carouselContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing, 0) * -1);
}

/* Slides */
.carouselContainer > * {
  flex: 0 0 var(--slide-size, 100%);
  min-width: 0;
  padding-left: var(--slide-spacing, 0);
}

.carouselControls {
  position: absolute;
  top: var(--controls-top, 50%);
  inset-inline: var(--controls-inset, 0);
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}
