/* STATUS BADGE */

.statusBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;

  padding: 0.5em 0.75em;

  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  color: var(--color-white);

  background-color: grey;
  border-radius: 0.5em;
}
